#main_layout{
    -fx-background-image: url("@../../../assets/textures/texture-background.png");
    -fx-background-repeat: repeat;
    -fx-background-position: center center;
}

#tittle_layout{

     /* -fx-hgap: 20px;
    -fx-padding: 40px; */
         
        /* -fx-background-color: #2969c0; */
    -fx-background-image: url("@../../../assets/textures/texture-brown.png");
    -fx-background-repeat: repeat;
    -fx-background-position: center center;

    -fx-background-radius: 50px;

        
    -fx-border-radius: 20px;
    -fx-border-width: 5px;
    /* -fx-border-color: black; */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);

}
#ball_count{
    -fx-background-image: url("@../../../assets/ball_count.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}
#holeT{
    -fx-background-color: #fcbc6a;

    -fx-background-radius: 120px;

    -fx-border-radius: 20px;
    -fx-border-width: 50px;
    /* -fx-border-color: black; */
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 10, -1.0, -5.0, 0.08);
    -fx-effect: innershadow(three-pass-box , rgba(0, 0, 0, 0.17) , 10 , 0.57, 0.3 , 0.6);
    -fx-effect: innershadow(three-pass-box , rgba(97, 57, 0, 0.48) , 10 , 0, 0.5 , 5.0);


}

#hole_style{
    -fx-background-image: url("@../../../assets/textures/texture-background.png");
    -fx-background-repeat: repeat;
    -fx-background-position: center center;
}
#back_btn{
    -fx-background-image: url("@../../../assets/Buttons/back.png");
    /*-fx-background-repeat: repeat;*/
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: 80%

}

#back_btn:pressed{
    -fx-background-image: url("@../../../assets/Buttons/back_p.png");
    /*-fx-background-repeat: repeat;*/
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;



}

#window {

    -fx-background-image: url("@../../../assets/win_window2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;

    -fx-background-color: #F3A31C;
    -fx-background-radius: 200px;
    -fx-effect: dropshadow(three-pass-box, rgba(100, 58, 0, 0.48), 20, 0, 0, 3);


    /*
    -fx-background-color: #F3A31C;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(100, 58, 0, 0.48), 20, 0, 0, 3);

    /*InnerShadow blurType="GAUSSIAN" height="25.24" offsetY="4.0" radius="5.81" width="0.0">*/
}
.button {
    -fx-background-color: rgba(255, 255, 255, 0);
}

#button {

    /*
    -fx-background-image: url("@../../../assets/Buttons/Button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;

    -fx-background-color: #D59542;
    -fx-background-radius: 200px;
    -fx-effect: dropshadow(three-pass-box, rgba(100, 58, 0, 0.48), 20, 0, 0, 3);*/


    -fx-background-color: #D59542;
    -fx-background-radius: 14px;
    -fx-effect: dropshadow(two-pass-box, rgba(100, 58, 0, 0.48), 2.3, 2, 0, 3);
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 3.6, 0, 0, -2);
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.25), 4, 0, 0, -2.0);


    /*InnerShadow blurType="GAUSSIAN" height="25.24" offsetY="4.0" radius="5.81" width="0.0">*/
}

#button:pressed {

    -fx-background-color: #D59542;
    -fx-background-radius: 14px;
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 3.6, 0, 0, -2);
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.08), 3.4, 0, -2, 12);
    -fx-effect: innershadow(three-pass-box, rgba(100, 59, 0, 0.48), 2.3, 2, 0, 3.0);


}

#checked_button {

    -fx-background-color: #D59542;
    -fx-background-radius: 14px;
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 3.6, 0, 0, -2);
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.08), 3.4, 0, -2, 12);
    -fx-effect: innershadow(three-pass-box, rgba(100, 59, 0, 0.48), 2.3, 2, 0, 3.0);


}

/*#divider{*/
/*    -fx-background-color: #D59542;*/
/*}*/


#pause{
    -fx-background-image: url("@../../../assets/Buttons/Pause.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}
#pause:pressed {
    -fx-background-image: url("@../../../assets/Buttons/Pause-pressed.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

#play {
    -fx-background-image: url("@../../../assets/Buttons/Play.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}
#play:pressed {
    -fx-background-image: url("@../../../assets/Buttons/Play-pressed.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}
#new_game {
    -fx-background-image: url("@../../../assets/Buttons/New.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}
#new_game:pressed {
    -fx-background-image: url("@../../../assets/Buttons/New-pressed.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

#sound_btn {
    -fx-background-image: url("@../../../assets/Buttons/Sound.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}
#sound_btn:pressed {
    -fx-background-image: url("@../../../assets/Buttons/Sound-pressed.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}
#sound_off_btn {
    -fx-background-image: url("@../../../assets/Buttons/Sound-off.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}
#sound_off_btn:pressed {
    -fx-background-image: url("@../../../assets/Buttons/Sound-off-pressed.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}